@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";

.calendar-wrapper {
  font-family: Roboto;
  font-size: 14px;
  padding: 40px;
}

.app-calendar {
  margin: 0 auto;
  max-width: 900px;
}
